Host azuredevops.pro.intra.rs.gov.br
    HostName azuredevops.pro.intra.rs.gov.br
    User git
    IdentityFile {{ ssh_git_key }}
    IdentitiesOnly yes
    PubkeyAcceptedAlgorithms +ssh-rsa
    HostkeyAlgorithms +ssh-rsa